DATABASE_URL=postgresql://postgres:postgres@db:5432/matrixflow
JWT_SECRET=change-me-super-secret
NOTIFY_WEBHOOK_URL=
NODE_ENV=production
NEXTAUTH_SECRET=change-me-nextauth-secret
NEXTAUTH_URL=http://localhost:8080
# Variable publique pour l'URL de l'application (accessible côté client)
# Doit correspondre à l'URL avec laquelle vous accédez à l'application
NEXT_PUBLIC_APP_URL=http://localhost:8080
